{% extends 'layout.html.twig' %}

{% block title %}
    Ajouter une sortie
{% endblock %}

{% block main %}
    {{ form_start(sortieForm) }}
    {% if error !='' %}<p class="error">{{ error }}</p>{% endif %}
    {{ form_widget(sortieForm) }}
    <button type="submit">Enregistrer</button>
    <button type="submit" name="action" value="publier">Publier la sortie</button>
    <button type="reset">Effacer</button>
    {{ form_end(sortieForm) }}
{% endblock %}