{% extends 'layout.html.twig' %}

{% block title %}
    Modifier sortie
{% endblock %}

{% block main %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button type="submit">Enregistrer</button>
    <button type="submit">Publier</button>
    <button type="submit">Supprimer</button>
    <button type="reset">Annuler</button>
    {{ form_end(sortieForm) }}
{% endblock %}