body {
    background-color: lightgray;
}
.error {
    background-color: #C82829;
    color: #FFFFFF;
}
.flash-warning {
    background-color: darkorange;
    color: #FFFFFF;
}
.flash-success {
    background-color: darkgreen;
    color: #FFFFFF;
}