<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Sortir</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header><img src="{{ asset('img/logo.jpg') }}" alt="logo_Sortir.com"></header>
        <nav>
            <ul>
                <li><a href="">Villes</a></li>
                <li><a href="">Sites</a></li>
                <li><a href="">Accueil</a></li>
                <li><a href="">Mon profil</a></li>
                <li><a href="">Se déconnecter</a></li>
            </ul>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer></footer>
    </body>
</html>
